footer.footer
  .footer__logo
    a(href='/')
      img(src='/img/logo-green.png' alt='Natours logo')
  ul.footer__nav
    li: a(href='https://github.com/ritiksharmarj/natours' target='_blank') GitHub
    li: a(href='https://www.linkedin.com/in/ritiksharmarj/' target='_blank') LinkedIn
    li: a(href='https://twitter.com/ritiksharmarj' target='_blank') Twitter
  p.footer__copyright &copy; by Ritik Sharma. All rights reserved.